.video {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  scroll-snap-align: start;
}
.video__player {
  object-fit: fill;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  /* z-index: -10; */
}
.seekBarContainer {
  width: 100%;
  height: 2px;
  background-color: lightgray;
  position: absolute;
  bottom: 0;
  display: block;
}

#seekBarFill {
  height: 100%;
  width: 0;
  background-color: rgb(113, 8, 8);
  position: absolute;
  bottom: 0;
}

.videoSidebar {
  position: absolute;
  top: 40%;
  right: 7px;
}

.videoSidebar .material-icons {
  font-size: 28px;
  cursor: pointer;
}
.video__header {
  position: fixed;
  top: 0;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.video__header * {
  padding: 20px;
}

.video__header h3 {
  font-size: 1.2em;
  padding-top: 10px;
}

.videoSidebar__button {
  padding: 10px;
  text-align: center;
}

.videoFooter {
  position: relative;
  bottom: 150px;
  margin-left: 20px;
  color: white;
  display: flex;
}
.user_and__follow {
  display: flex;
}
.user_and__follow h3 {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
}

.videoFooter__img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 20px;
}
.videoFooter__description {
  margin-top: 10px;
  display: block;
  overflow: auto !important;
  width: 100%;
  height: 50px;
  padding-bottom: 10px;
  overflow: auto;
}

.read_or_hide {
  color: rgb(192, 192, 192);
  cursor: pointer;
}

.video_play_button {
  display: inline;
  position: absolute;
  color: white;
  bottom: 50%;
  left: 41%;
  text-align: center;
}
.video_play_icon {
  font-size: 4rem !important;
  cursor: pointer;
}
.video__comeent__box {
  position: fixed;
  background: rgb(36,26,214);
  background: linear-gradient(0deg, rgba(36,26,214,0.8) 0%, rgba(9,9,9,0.9) 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 0;
  width: 100%;
  height: 80%;
  align-items: center;
  z-index: 99;
}

/* .video__comeent__box{
  transform: translateY(130%);
  transition-timing-function: ease-in;
  transition: 0.5s;
} */
.share_body {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  bottom: 0;
  width: 100%;
  height: 80%;
  align-items: center;
  z-index: 99;
}
.comment_box_header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}
.comment_box_footer {
  position: absolute;
  bottom: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
}
.comment_box_footer div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.comment_box_footer h4 {
  font-size: 14px;
  padding: 5px;
}
.comment_box_input {
  width: 80vw;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-right: 5px;
}
.comment__body {
  margin: 20px;
  height: 70%;
  overflow-y: auto;
}

.one_comment {
  margin: 0px;
  padding: 0px;
}
.comment_text {
  text-align: left;
  padding-left: 10px;
}
.avatar_with_name {
  display: flex;
  margin-bottom: 0;
}

.avatar_with_name p {
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
}
.comment__time {
  color: rgba(255, 255, 255, 0.663);
  margin-left: 6px;
}
.comment__body__avatar {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  box-sizing: content-box;
  padding: 10px;
  margin-right: 0px;
}

@keyframes example {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}
