*{
  margin : 0;
  box-sizing: border-box;
}
body{
  color: white;
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}
html{
  scroll-snap-type: y mandatory;
}
.app {
  background-color: black;
  height: 100vh;
  color: white;
  display: grid;
  place-items: center;
  scroll-snap-type: y mandatory;

}
.app__videos{
  position: relative;
  height: 100vh;
  background-color: transparent;
  overflow: scroll;
  width : 100%;
  max-width: 400px;
  /* border-radius: 20px; */
  scroll-snap-type: y mandatory;
}

.app__videos::-webkit-scrollbar{
  display: none;
}

.app__videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.video__play__container {
  border: 8px solid black;
  position: fixed ;
  top: 0;
  left: 0;
  right : 0;
  bottom: 0;
  width: 370px;
  height: 667px;
  overflow: auto;
  scroll-snap-type: y mandatory;
}